@import "{}/imports/ui/stylesheets/not-found.less";

body {
	font-family: 'Roboto', sans-serif;
	background-image: url('img/honey-bg.jpg');
	background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: calc(100vh);
    background-color: #1c4b5a;
    margin: 0px;
}